h1,
h3,
h5 {
    margin: 0;
}


.wrap-content h1 {
    color: var(--test);
}

main,
header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em 0;
}

.wrap-content {
    min-height: 400px;
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 2em;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
}

.column img {
    width: 65%;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
}

.column .wrap-text {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
    background-color: var(--bg-color2);
}



header .wrap-content {
    background-color: var(--bg-color2);
}

main .wrap-content {
    background-color: var(--sec-color);
}



.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 1em;
}

.img {
    display: flex;
    justify-content: center;
}

@media (max-width:1000px) {
    .font-size-xxl {
        font-size: 2.5em;
    }

    .font-size-xl {
        font-size: 2em;
    }

    .font-size-l {
        font-size: 1.5em;
    }

    main,
    header {
        align-items: center;
    }

    .wrap-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        min-height: 650px;
        padding: 2em 1em;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        padding: 0.5em 1em;
    }

    main .wrap-content {
        flex-direction: column-reverse;
    }

    .img {
        justify-content: center;
    }
}