.wrap-content {
    min-height: 700px;
}

main .wrap-content {
    background-color: var(--bg-color2);
}

.column {
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.column h1 {
    color: var(--sec-font-color);
}

.guess-list {
    display: flex;
    flex-direction: column;
    gap: 0.125em;
}

.guess-row {
    display: flex;
    flex-direction: row;
    gap: 0.125em;
}

.guess {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    width: 50px;
    height: 50px;
    color: white;
    border: 3px solid black;
    transition: background-color 1s;
}

.err {
    min-height: 1.5em;
    color: transparent;
    transition: color 0.5s;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 0.125em;
}

.key-row {
    display: flex;
    flex-direction: row;
    gap: 0.125em;
    justify-content: center;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    width: 30px;
    padding: 0 0.75em;
    height: 50px;
    color: white;
    border: 3px solid black;
    border-radius: 3px;
    transition: background-color 1s;
}

.modifier {
    min-width: fit-content;
}

@media (max-width:992px) {
    .wrap-content {
        min-height: 800px;
    }

    .err {
        text-align: center;
        max-height: 1em;
    }

    .key {
        width: 25px;
        padding: 0.25em;
    }

}

@media (max-width:442px) {
    .key {
        padding: 0 0.1em;
    }
}