.wrap-content {
    min-height: 400px;
}


.column .wrap-text {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
    background-color: var(--bg-color2);
}


header .wrap-content {
    background-color: var(--bg-color2);
}

main .wrap-content {
    background-color: var(--sec-color);
}

.cat {
    cursor: pointer;
}

.cat:hover {
    border-color: var(--sec-font-color);
}

@media (max-width:992px) {

    .column:nth-child(1) {
        text-align: center;
    }

    main .wrap-content {
        flex-direction: column-reverse;
    }

    .img {
        justify-content: center;
    }
}