@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg-color1: rgb(250, 246, 233);
    --bg-color2: rgb(236, 232, 217);
    --sec-color: rgb(173, 153, 196);
    --font-color: rgb(50, 50, 50);
    --sec-font-color: rgb(255, 89, 0);
    --test: rgb(255, 90, 42);
    --green: rgb(136, 202, 77);
    --yellow: rgb(255, 186, 0);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--bg-color1);
}

main,
header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em 0;
}


footer {
    margin: 0 -7%;
    padding: 1.75em 2.5em;
    border: 3px solid rgb(73, 73, 73);
    border-bottom: 0;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    background-color: var(--sec-color);
}

ul {
    margin: 0;
    padding: 0;

}

i {
    color: var(--font-color);
}

p {
    margin: 0;
}

a,
a:link {
    text-decoration: none;
    color: var(--font-color);
    position: relative;
    z-index: 1;
}

a:hover {
    color: var(--sec-color);
}

h1,
h3,
h5 {
    margin: 0;
}


.mobile-menu {
    display: none;
}

#sidebar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;

    max-width: 1354px;
    min-height: 100vh;
    width: 62.5%;
    margin: 0 auto;
}


.wrap-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrap-menu li {
    display: inline-block;
    width: auto;
}

.wrap-content {
    display: flex;
    width: 100%;
    padding: 2em;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 0 1em;
}

.column img {
    width: 65%;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
}

.img {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 25%;
    max-width: 102px;
}


.font {
    font-family: "Schibsted Grotesk", sans-serif;
    font-style: normal;
    color: var(--font-color);
}

.wrap-content h1 {
    color: var(--sec-font-color);
}

.font-bold {
    font-weight: 600;
}

.font-xbold {
    font-weight: bold;
}


.font-size-s {
    font-size: 1em;
}

.font-size-m {
    font-size: 1.5em;
}

.font-size-l {
    font-size: 2em;
}

.font-size-xl {
    font-size: 2.5em;
}

.font-size-xxl {
    font-size: 3em;
}

.font-size-3xl {
    font-size: 3.5em;
}

.sticky {
    position: sticky;
    margin: 0 -7%;
    padding: 2.5em;
    border: 3px solid var(--font-color);
    border-top: 0;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    background-color: var(--bg-color2);

}

@media (min-width:992px) {

    .sites {
        width: 50%;
        max-width: 364px;
    }

    .sites {
        display: flex;
        justify-content: space-between;
    }

    .sites .active-link {
        color: var(--sec-color);
    }


    .sites a:not(.active-link)::after {
        content: "";
        height: 3px;
        background: var(--sec-font-color);
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0px;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
        z-index: -1;
    }

    .sites a:not(.active-link):hover::after {
        transform: scaleX(1);
    }

    .sites .active-link::after {
        content: "";
        width: 100%;
        height: 3px;
        background: var(--sec-font-color);
        position: absolute;
        display: block;
        bottom: -3px;
        left: 0px;
        z-index: -1;
    }
}


@media (max-width:992px) {

    main,
    header {
        align-items: center;
    }

    a:hover {
        color: var(--sec-font-color);
    }

    .sticky .sites {
        display: none;
    }

    #sidebar {
        display: block;
        height: 100%;
        width: 0;
        background-color: var(--sec-color);
        overflow-x: hidden;
        transition: 0.5s;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;

    }

    #sidebar .sites {
        height: 30%;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #sidebar li {
        display: inline-block;
    }


    .mobile-menu,
    .x {
        display: block;
        cursor: pointer;
    }

    #sidebar .xmark {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 2.5em;

    }

    .wrapper {
        width: 100%;

    }

    .wrap-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        min-height: 900px;
        padding: 2em 1;
    }



    .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        padding: 0.5em 1em;
    }



    .sticky {
        margin: 0;
        position: sticky;
        padding: 2.5em;
        border: 0;
        border-bottom: 3px solid var(--font-color);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: var(--bg-color2);

    }

    footer {
        margin: 0;
        padding: 1.75em 2.5em;
        border: 0;
        border-top: 3px solid var(--font-color);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: var(--sec-color);
        z-index: 3;
    }

    .font-size-xxl {
        font-size: 2.5em;
    }

    .font-size-xl {
        font-size: 2em;
    }

    .font-size-l {
        font-size: 1.5em;
    }

    .font-size-m {
        font-size: 1em;
    }

    .img {
        justify-content: center;
    }

}