@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital@0;1&display=swap');

* {
    --bg-color1: rgb(250, 246, 233);
    --bg-color2: rgb(236, 232, 217);
    /* --sec-color: rgb(255, 183, 0); */
    --sec-color: rgb(173, 153, 196);
    --font-color: rgb(50, 50, 50);
    --sec-font-color: rgb(255, 89, 0);


}

body {
    margin: 0;
    background-color: var(--bg-color1);
}

nav {
    margin: 0 -7%;
    padding: 2.5em;
    border: 3px solid rgb(73, 73, 73);
    border-top: 0;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    background-color: var(--bg-color2);
}

header {
    height: 100px;
    margin: auto auto;
}

footer {
    margin: 0 -7%;
    padding: 1.75em 2.5em;
    border: 3px solid rgb(73, 73, 73);
    border-bottom: 0;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    background-color: var(--sec-color);
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

i {
    color: var(--font-color);
}

p {
    margin: 0;
}

a,

a:link {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--sec-color);
}

.active-link {
    color: var(--sec-color);
}

.active-link::after {
    --cur-width: 0;

    content: "";
    width: 100%;
    height: 3px;
    background: rgb(255, 89, 0);
    display: block;


}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    max-width: 1354px;
    min-height: 100vh;
    width: 75%;
    margin: 0 auto;
}


.wrap-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
}

.wrap-menu li {
    display: inline-block;
    width: auto;
}

.sites {
    width: 25%;
}

.icons {
    width: 7%;
}


.font {
    font-family: "Schibsted Grotesk", sans-serif;
    font-style: normal;
    color: var(--font-color);
}

.font-bold {
    font-weight: 600;
}


.font-size-m {
    font-size: 1.5em;
}