h1,
h3,
h5 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.wrap-form {
    min-height: 670px;
    display: flex;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 0 1em;
}


.column h1 {
    color: var(--test);
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
}

.input {
    display: flex;
    flex-direction: column;
    min-height: 1em;
}

input,
textarea {
    border: 2px solid var(--font-color);
    width: 100%;
    padding: 0.5em;
}

textarea {
    resize: none;
}

form button {
    width: 7em;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.6em 0.8em;
    transition: all 1s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: var(--bg-color);
}


form button[type="button"] {
    border: 2px solid var(--sec-font-color);
    color: var(--sec-font-color);
}

form button[type="submit"] {
    border: 2px solid var(--green);
    color: var(--green);
}

form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all .5s;
    z-index: -1;
    transform: translateX(-100%);
}

form button[type="button"]::before {
    background-color: var(--sec-font-color);
}

form button[type="submit"]::before {
    background-color: var(--green);
}

form button:hover::before {
    transform: translateX(0);
}

form button:hover {
    color: var(--font-color)
}

.wrap-buttons {
    display: flex;
    justify-content: space-around;
}

.form-error {
    color: var(--sec-font-color);
}

@media (max-width:768px) {

    main .font-size-xxl {
        font-size: 2.5em;
    }

    main .font-size-xl {
        font-size: 2em;
    }

    .font-size-l {
        font-size: 1.5em;
    }


    .wrap-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* odstęp między sekcjami */
        width: 100%;
        min-height: 900px;
        /* wysokość całej sekcji */
        padding: 2em 0;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 85%;
        padding: 0.5em 1em;
    }

    form {
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    .form-text {
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
}