h1,
h3,
h5 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 60%;
    cursor: pointer;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
}

img:hover {
    border-color: var(--sec-font-color);
}

.img {
    display: flex;
    justify-content: center;
}

.wrap-content {
    min-height: 670px;
    display: flex;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 1em;
}

.column h1 {
    color: var(--test);
}

@media (max-width:768px) {

    main .font-size-xxl {
        font-size: 2.5em;
    }

    main .font-size-xl {
        font-size: 2em;
    }

    .font-size-l {
        font-size: 1.5em;
    }


    .wrap-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 650px;
        padding: 2em 0;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 85%;
        padding: 0.5em 1em;
    }

    .img {
        justify-content: center;
    }
}