img {
    width: 60%;
    cursor: pointer;
    border: 3px solid var(--font-color);
    border-radius: .8rem;
}

img:hover {
    border-color: var(--sec-font-color);
}

.wrap-content {
    min-height: 670px;
}